.chatbox {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #cfcfcf;
    height: 150px;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.7);
    color: lighten(grey, 25%);

    .row {
        position: relative;
    }

    form {
        position: fixed;
        right: 0;
        bottom: 10%;
        margin-right: 5%;

        button {
            padding: 0 10px;
        }
    }

    &__toggle {
        margin: 0;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 2;
        background: rgba(0, 0, 0, 0.5);
        border: 1px dashed #efefef;

        &:hover, &:active, &:focus {
            background: rgba(0, 0, 0, 0.3);
            outline: none;
        }
    }

    .message {
        margin: 0;
        border-bottom: 1px solid grey;
    }
}
