<button class="fa fa-weixin chatbox__toggle"></button>
<div class="chatbox hide">
    <div class="row">
        <div class="columns small-7 messages"></div>

        <form method="post" class="form__chatbox">
            <div class="row">
                <div class="large-12 columns">
                    <div class="row collapse">
                        <div class="small-9 columns">
                            <input type="text" placeholder="Message" class="message-area">
                        </div>
                        <div class="small-3 columns">
                            <button type="submit" href="#" class="button postfix">send</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
