{% raw %}
<script type="text/mustache" id="playerTemplate">
    <div class="player player__{{player.name}} columns medium-3 large-4" data-player-id="{{player._id}}">
        <h4 class="player__name">{{player.name}}</h4>
        {{#if player.current_match}}
            <a href="/matches/{{player.current_match._id}}">See current match</a>
            score:
            <span class="score">
            {{#getScore player.current_match player._id}}
            {{.}}
            {{/getScore}}
            </span>
        {{/if}}


        <div class="player__wrap">
            <div class="progress-radial progress-0">
                <div class="life-counter overlay">{{player.life}}</div>
            </div>

            <!--<div class="player__controls">-->
                <!--<button class="button small fa-plus fa"></button>-->
                <!--<button class="button small fa-minus fa"></button>-->
            <!--</div>-->
        </div>
    </div>
</script>
{% endraw %}
