@import '../_variables';

form.form__player {
    margin-bottom: 20px;

    button {
        background: $button-bg;

        &:active, &:hover {
            background: lighten($button-bg, 20%);
        }
    }
}
