$blue-darkest: #264D73;
$blue-dark: #336699;
$blue: #4080BF;
$blue-light: #6699CC;
$blue-lightest: #9FBFDF;

$main-darkest: $blue-darkest;
$main-dark: $blue-dark;
$main: $blue;
$main-light: $blue-light;
$main-lightest: $blue-lightest;

