<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
    <link rel="stylesheet" href="{{url_for('static', filename='dist/css/style.css')}}">
    <script src="{{url_for('static', filename='bower_components/jquery/dist/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='bower_components/foundation/js/foundation.js')}}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src="{{url_for('static', filename='bower_components/canjs/can.jquery.dev.js')}}"></script>
    <script src="{{url_for('static', filename='bower_components/canjs/can.jquery.dev.js')}}"></script>

</head>
<body>
    <div class="row">
        <h1>Draftboard</h1>
    </div>

    <form method="post">
        <div class="row">
            <div class="large-12 columns">
                <div class="row collapse">
                    <div class="small-10 columns">
                        <input type="text" placeholder="Player name" class="name">
                    </div>
                    <div class="small-2 columns">
                        <button type="submit" href="#" class="button postfix">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div class="row players">
        {% for player in players %}
        <div class="player player__{{player.name}} columns medium-4" data-player-id="{{player._id}}">
                <h2 class="player__name">{{player.name}}</h2>
                <div class="player__wrap">
                    <p class="player__life">{{player.life}}</p>

                    <div class="player__controls">
                        <button class="button tiny fa-plus fa"></button>
                        <button class="button tiny fa-minus fa"></button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'playerTemplate.html' %}
    <script type="text/javascript" src="{{url_for('static', filename='dist/js/main.js')}}"> </script>
</body>
</html>
